[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options
	branch = vs2017
[submodule "projects/Gibbed.IO"]
	path = projects/Gibbed.IO
	url = https://github.com/gibbed/Gibbed.IO
	branch = vs2017
